$default: #fff;
$lightest-blue: #bbd3f2;
$blur-blue: #3e588c;
$light-blue: #77a1d9;
$pri-blue: #0d378c;


#KHColContainer {
  margin-left: 160px;
  // .ant-popover-arrow {
  //   display: none;
  // }
  // .ant-popover-inner-content {
  //   padding: 12px 16px;
  //   color: rgba(0, 0, 0, 0.85);
  //   width: 500px;
  //   height: 250px;
  //   position: absolute;
  //   background-color: $default;
  //   left: 500px;
  //   top: 150px;
  //   border-radius: 8px;
  //   padding: 0 !important;
  //   .ant-popover-buttons {
  //     text-align: center;
  //     margin-top: 20px;
  //     button {
  //       background-color: $lightest-blue;
  //       opacity: 50%;
  //       width: 80px;
  //       height: 40px;
  //       font-size: 16px;
  //       border: none;
  //       border-radius: 20px;
  //       color: $default;
  //       &:hover {
  //         background-color: $blur-blue;
  //         opacity: 100%;
  //       }
  //     }
  //     button:nth-child(2) {
  //       background-color: $light-blue;
  //       opacity: 80%;
  //       width: 80px;
  //       height: 40px;
  //       font-size: 16px;
  //       border: none;
  //       border-radius: 20px;
  //       margin-left: 80px;
  //       &:hover {
  //         background-color: $pri-blue;
  //         opacity: 100%;
  //       }
  //     }
  //   }
  //   .ant-popover-message {
  //     color: $default;
  //     margin-top: 24px;
  //     text-align: center;
  //     font-weight: 600;
  //     font-size: 20px;
  //     background-color: $pri-blue;
  //     .ant-popover-message-title {
  //       background-color: $pri-blue;
  //       margin-top: 80px;
  //       padding: 8px;
  //     }
  //   }
  //   svg {
  //     font-size: 64px;
  //     margin-top: 12px;
  //     margin-left: -24px;
  //   }
  // }
  
}
#Container {
  display: inline-flex;
  .ant-input-group > .ant-input:first-child {
    width: 383px;
    background-color: $lightest-blue;
    color: $default;
    border-radius: 12px 0 0 12px;
    text-indent: 12px;
    font-size: 16px;
    margin-top: 65px;
    height: 56px;
    &::placeholder {
      color: $light-blue;
    }
  }

  .ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button {
    margin-top: 65px;
    width: 56px;
    background-color: $lightest-blue;
    height: 56px;
    border-radius: 0 12px 12px 0;
    .anticon svg {
      color: $pri-blue;
      font-size: 20px;
    }
  }

  .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    background-color: $default;
    color: $lightest-blue;
    margin-top: 65px;
  }

  .ant-btn-primary {
    background-color: $lightest-blue;
    margin-top: 65px;
    height: 56px;
    font-size: 20px;
    left: 642px;
    margin-right: 40px;
    width: 220px;
    border-radius: 20px;
    color: $pri-blue;
    font-weight: 500;
    border: none;
    &:hover {
      background-color: $pri-blue;
      color: $lightest-blue;
    }
  }
  .anticon-user {
    position: absolute;
    margin-top: 72px;
    width: 48px;
    height: 48px;
    right: 56px;
    background-color: $pri-blue;
    font-size: 28px;
    padding-top: 12px;
    color: $default;
    border-radius: 50%;
  }
}
#titleKhachHang {
  border-bottom: 1px solid $pri-blue;
  color: $pri-blue;
  margin-top: 40px;
  text-indent: 8px;
  font-weight: 600;
  font-size: 24px;
  width: 1521px;
}

.ant-table table {
  width: 1521px;
  .ant-table-thead th {
    height: 50px;
    background-color: $pri-blue;
    color: $lightest-blue;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      background-color: $light-blue;
      color: $pri-blue;
    }
  }
  .ant-table-column-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20px;
    white-space: nowrap;
  }
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-radius: 20px 0 0 0;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-radius: 0 20px 0 0;
}

.ant-pagination {
  margin-left: 1050px;
}
.ant-pagination-prev .ant-pagination-item-link {
  color: $pri-blue;
  border: none;
}

.ant-pagination-next .ant-pagination-item-link {
  color: $pri-blue;
  border: none;
}

.ant-pagination-item {
  border: none;
  a {
    color: $pri-blue;
    font-weight: 300;
  }
}

.ant-pagination-item-active {
  background-color: $pri-blue;
  border-radius: 8px;
  a {
    color: $default;
  }
}

.modalExcel1 {
  .ant-modal-body {
    background-color: $default;
    padding: 0;
    .ant-upload.ant-upload-drag .ant-upload-drag-container {
      .anticon svg {
        font-size: 56px;
        margin-bottom: 24px;
        color: $pri-blue;
      }
      button {
        margin-top: 8px;
        width: 200px;
        border-radius: 8px;
        color: $default;
        background-color: $blur-blue;
        font-weight: 400;
        border: none;
        &:hover {
          background-color: $pri-blue;
        }
      }
    }

    p {
      font-size: 16px;
      font-weight: 600;
      color: $pri-blue;
      line-height: 36px;
    }
  }
  #dragExcel1 {
    height: 306px;
  }
  .ant-modal-content .ant-modal-footer {
    text-align: right;
    margin-top: 70px;
  }
  .ant-btn {
    width: 260px;
  }
  .ant-upload-list {
    height: 70px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }
  }
  .ant-upload-list-item-error .ant-upload-list-item-card-actions-btn {
    width: 25px;
  }
  .ant-upload-list-item-card-actions-btn.ant-btn-sm {
    width: 25px !important;
  }
}
